<%- include('./partials/header'); %>

<body class="bg-gray-100">

    <% if (messages && messages.error) { %>
        <div class="absolute top-20 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-red-600 text-white rounded-lg shadow-md">
            <%= messages.error %>
        </div>
    <% } %>

    <div class="container mx-auto mt-32">
        <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
            <h2 class="text-2xl font-bold text-gray-700 mb-6">Edit Product: <%= product.name %></h2>

            <form enctype="multipart/form-data" autocomplete="off" class="mt-4" action="/product/update/<%= product._id %>" method="POST">
                <h3 class="text-lg font-medium text-gray-700">Update Product</h3>
                <div class="mt-2">
                    <input type="text" name="name" placeholder="Product Name" value="<%= product.name %>" required
                        class="w-full p-2 border border-gray-300 rounded mt-2">
                </div>
                <div class="mt-2">
                    <input type="number" name="price" placeholder="Product Price" value="<%= product.price %>" required
                        class="w-full p-2 border border-gray-300 rounded">
                </div>
                <div class="mt-2">
                    <input type="text" name="category" placeholder="Category" value="<%= product.category %>" required
                        class="w-full p-2 border border-gray-300 rounded">
                </div>
                <div class="mt-2">
                    <textarea name="description" placeholder="Product Description" rows="4"
                        class="w-full p-2 border border-gray-300 rounded"><%= product.description %></textarea>
                </div>
                <div class="mt-2">
                    <input type="number" name="stock" placeholder="Stock Quantity" value="<%= product.stock %>" required
                        class="w-full p-2 border border-gray-300 rounded">
                </div>
                <div class="mt-2">
                    <input type="file" name="image"  class="w-full p-2 border border-gray-300 rounded">
                </div>
                <div class="mt-4">
                    <button type="submit"
                        class="w-full bg-black text-white py-2 px-4 rounded hover:bg-gray-800">
                        Update Product
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

<%- include('./partials/footer'); %>
